*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

header{
    text-align: center;
    height: 60px;
    padding: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    height: 600px;
    align-items: center;
    justify-content: center;
    background-color:azure;
}

.cal{
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 400px;
}

.screen{
    height: 120px;
    background-color: black;
    color: white;
    width: 100%;
}
.screen>p{
    text-align: right;
    padding: 10px 40px;
    font-size: 40px;
    font-weight: 300;
}

.buttons{
    display: flex;
    width: 340px;
}

.numbers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap-reverse;
}

.nums{
    width: 70px;
    height: 70px;
    text-align: center;
    margin: 5px;
    padding: 4px;
    background-color:#323233;
    cursor: pointer;
    color: white;
    border-radius: 50%;
    border: none;
}

#num-0{
    width: 145px;
    border-radius: 35px;
    text-align: left;
    padding-left: 20px;
}

#_AC, #_plus-minus, #_percentage{
    background-color: #A4A5A4;
    color: #1C1C1C;
    font-weight: 600;
}

.operator, .equals{
    width: 70px;
    height: 70px;
    background-color: #FE9F0B;
    margin: 5px;
    padding: 4px;
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.operator.active{
    background-color: white;
    color: #FE9F0B;
}